.librarian-book-item {
  border-radius: 10px;
  border: solid 1px red;
  margin: 4px 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .25);
}

.librarian-book-item a {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 3px 60px 3px 28px;
}