.book-list-wrapper {
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
  max-width: 400px; /*maximum width for the wrapper */
  width: 100%;
  box-sizing: border-box;
}

.book-cover {
  position: relative;
  width: 100px;
  height: 107px;
  margin: 0 0 0 0;
  align-items: center;
  background-size: cover;
  overflow: hidden;
  border-radius:  12px 0 0 12px;
}

/* Overall book list styling */
.book-list,
.book-details,
.book-details h2,
.book-details p,
a {
  font-family: 'Source Serif Pro', serif;
  color: #1e293b;
  line-height: 20px;
  text-decoration: none;
  flex: 1;
}

/* Styling for individual book container */
.book-container {
  background: linear-gradient(188deg,#fff 20%, #84CCF8 120%);
  height: 107px;
  padding-right: 12px;
  border-radius: 12px; /* Rounded corners */
  margin-top: 20px; /* Spacing between book containers */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  display: flex;
  align-items: center; 
}

/* Styling for book details */
.book-details {
  margin-left: 10px; /* Add space between book cover and details */
  font-size: 16px;
}

/* Styling for book title */
.book-details h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0 20px 0;
}

/* Styling for additional book information */
.book-details p {
  font-size: 12px;
  font-family: 'League Spartan', sans-serif;
}

/* Styling for due date */
.due-date {
  margin: 6px 0 0 0;
  text-align: right;
  margin-bottom: 12px;
}

/* Styling for book list headers */
.book-list h1 {
  font-size: 18px; 
  font-family: 'Source Serif Pro', serif;
  margin: 20px 0 20px 0;
}