
.book-list-wrapper {
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
  max-width: 400px; /*maximum width for the wrapper */
  width: 100%;
  box-sizing: border-box;
}


.book-cover {
  position: relative;
  width: 100px;
  height: 107px;
  margin: 0 0 0 0;
  align-items: center;
  background-size: cover;
  overflow: hidden;
  border-radius: 0;
  padding: 0;
  border-radius:  12px 0 0 12px;
}

/* Overall book list styling */
.book-list {
  font-family: 'Source Serif Pro';
  color: #535c68; /* Set text color */
}

/* Styling for individual book container */
.book-container {
  background: linear-gradient(188deg,#fff 20%, #84CCF8 120%);
  height: 107px;
  padding-right: 12px;
  border-radius: 12px; /* Rounded corners */
  margin-top: 20px; /* Spacing between book containers */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  display: flex;
  align-items: center; 
}

/* Styling for book details */
.book-details {
  flex: 1; /* Allow details to grow and fill available space */
  margin-left: 10px; /* Add space between book cover and details */
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #f8fafc;
  text-align: left;
}

/* Title link */
a {color: #1e293b;
  text-decoration: none;
  font-family: 'Source Serif Pro', serif;
}

/* Styling for book title */
.book-details h2 {
  color: #1e293b; /* Set title color */
  font-weight: medium;
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Styling for additional book information */
.book-details p {
  font-size: 12px;
  color: #1e293b;
  font-family: 'League Spartan', sans-serif;
  font-weight: 100;
}

/* Styling for due date */
.due-date {
  margin: 6px 0 0 0;
  text-align: right;
  margin-bottom: 12px;
}

/* Styling for book list headers */
.book-list h1 {
  color: #1e293b; /* Set header color */
  font-weight: 600;
  font-size: 18px; 
  font-family: 'Source Serif Pro', serif;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}