.loginForm-container {
    background: linear-gradient(#fff, #84CCF8);
    height: 100%;
}

.loginForm-container h1 {
    font-size: 32px;
    font-family: 'Source Serif Pro';
    text-align: center;
    padding-top: 96px;
}

.login-container {
    margin-top: 119px;
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: calc(100% - 40px);
    height: 100vh;
    background: linear-gradient(194.22deg, #F8FAFC 24.58%, #E2E8F0 127.19%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0px 0px;
    margin: 0 auto;
    margin-top: 100px;
}

.login-label-email h2,
.login-label-password h2 {
    font-family: 'Source Serif Pro';
    margin-top: 45px;
    display: flex;
}

.login-label-email,
.login-label-password {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.login-input {
    font-size: 15px;
    background: none;
    color: #94A3B8;
    margin-top: 43px;
    border: none;
    width: 100%;
    border-bottom: 1px solid #94A3B8;
    padding-bottom: 4px;
    outline: none; 
}

.login-btn,
.signup-btn,
.moodle-login-btn {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    max-width: calc(100% - 40px);
    width: auto;
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    line-height: 50px;
    background:linear-gradient(206.56deg, #51B5F3 14.94%, #1E78CD 58.66%);
    color: #FFF;
    text-decoration: none;
    border-radius: 50px;
    font-size: 24px;
    font-family: 'League Spartan', sans-serif;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    margin-right: 20px;
}

.login-btn {
    margin-top: 72px;
}

.login-options-separator {
    font-size: 20px;
    margin-top: 20px;
}

.signup-btn {
background: linear-gradient(206.56deg, #E96093 14.94%, #B5245C 58.66%);
}

.login-btn:active,
.moodle-login-btn:active,
.signup-btn:active {
    background: linear-gradient(206.56deg, #0f406d 14.94%, #275673 58.66%);
    transform: translateY(4px);
}

.signup-btn:active {
    background: linear-gradient(206.56deg, #893755 14.94%, #701538 58.66%);
}

.login-options-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}