.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #0568eb 0%, #0568eb 40%, #bad8ff 100%);
    padding: 0 5%;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 320px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
}

/* Logo Styles */
.logo-container {
    position: fixed;
}

.logo-image {
    position: absolute;
    top: -300px;
    left: -50px;
    width: 240px;
    pointer-events: none;
}

/* Heading Styles */
.login-form h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: #004A8A;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Label Styles */
.login-label-email,
.login-label-password {
    display: grid;
    padding: 15px 20px;
    font-size: 22px;
    padding-bottom: 10px;
}

.login-label-email {
    margin-top: 20px;
}

/* Input Styles */
.login-input {
    padding: 10px;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(186, 186, 186);
}

/* Button Styles */
.login-btn,
.moodle-login-btn,
.signup-btn {
    margin: 20px;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.signup-btn {
    margin-inline: 80px;
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    color: #0568eb;
    background: none;
}

.login-btn {
    background-color: #0568eb;
    color: #ffffff;
}

.moodle-login-btn {
    background-color: #ffa600;
    color: #ffffff;
}

/* Button Hover/Active Styles */
.signup-btn:active,
.login-btn:active,
.moodle-login-btn:active {
    transform: translateY(4px);
}

.login-btn:active {
    background-color: #004A8A;
}

.moodle-login-btn:active {
    background-color: #a26a00;
}

/* Separator Styles */
.login-options-separator {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}