.search-result-container {
    margin-top: 20px;
  }
  
  .search-result-list {
    list-style-type: none;
    padding: 0;
  }
  
  .search-result-item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .search-result-item:hover {
    background-color: #e9e9e9;
  }