
.whole-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-width-container {
  max-width: 400px;
  width: 100%;
  padding: 0 20px; 
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
   /* EDIT COVER PHOTO */
   .cover-photo-container {
    position: relative;
    width: 174px;
    height: 174px; 
    overflow: hidden;
    border-radius: 50%; /* Makes the image circular */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  }
  /* EDIT COVER PHOTO inside the circle */
  .circular-image {
    position: absolute;
    width: 174px;/* photo size inside circle */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* EDIT TITLE */
  .title-container {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  .about-title{
    width: 308px;
    height: 40px;
    color: #1e293b;
    font-family: 'Source Serif Pro', serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    
  }

    /* EDIT BUTTON and ABOUT container */
  .about-btn-container {
    background: linear-gradient(188deg,#fff 50%, #84CCF8 200%);
    border-radius: 20px;
    padding: 0 20px 20px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);}

    .return-book-btn:hover {
      box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2);
    }

      /* EDIT ABOUT SECTION the title and paragraph info */
    .about-the-book-title {
      display: flex;
      justify-content: center;
      color: #1e293b;
      font-size: 20px;
      font-family: 'Source Serif Pro', serif;
      margin: 20 auto;
      padding-bottom: 20px;
      font-weight: 400;
    }
    
    .about-the-book-text{
      margin: 20 auto;
      font-family: 'League Spartan', sans-serif;
      font-weight: 100;
      color: #1e293b;
      font-size: 14px;
    }

