#reader {
  max-width: 300px !important;
  max-height: 300px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#reader.scanner-open {
  margin-top: 20px;
}

.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .square-button {
    background:linear-gradient(206.56deg, #51B5F3 14.94%, #1E78CD 58.66%);
    color: white; /* White text color */
    margin: 20px 0 20px 0px;
    width: 160px;
    height: 36px;
    font-size: 16px; /* Increase font size */
    border: none; /* Remove border */
    border-radius: 18px; /* Add border radius */
    cursor: pointer; /* Add cursor on hover */
    font-family: 'League Spartan', sans-serif; 
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .square-button:hover {
    
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .plus-icon {
    margin-left: 5px; 
    font-size: 20px; 
  }

  .modal-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); 
    background-color: rgba(0, 0, 0, 0.5); 
  }