/* global */
*{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    
}


/* main container, background color and image */
.registration{
    background-image:linear-gradient(#84CCF8, #fff);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registration_background_img{
   background-image: url('../img/varialogo.png');
   background-repeat: no-repeat;
   background-position: 100% 33%;
   background-size: 50%;
}


/* heading position and style */
.registration_heading{
    color: #fff;
    font-size: 20px;
    padding-top: 55px;
    padding-bottom: 35px;
    padding-left: 15px;
    height: 70px;
}


/* positioning and style for input area */
.registration_input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 318px;
    background-color: #fff;
    border-radius: 20px;
    color: black;
    text-align: left;
}
.registration_input > input{
    padding: 8px;
    border: 1px solid rgba(173, 173, 173, 1);
    border-radius: 10px;
    margin: 7px;
}
.registration_input > label{
    margin-top: 5px;
    font-size: 18px;
    margin-left: 15px;
}


/* positioning and style for button */
.registration_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register_button{
    margin: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 75, 135, 1);
    color: #fff;
    font-size: 18px;
    padding: 10px;
    width: 306px;
}
.register_button:hover{
    background-color: rgb(0, 44, 80);
}
.moodle_button{
    margin: 10px;
    border: none;
    margin-top: 5px;
    border-radius: 20px;
    background-color: rgba(134, 206, 248, 1);
    color: #fff;
    font-size: 18px;
    padding: 10px;
    width: 306px;
}
.moodle_button:hover{
    background-color: #5fbffa;
}


/* mobile settings */
@media only screen and (max-width: 768px) {
    .registration_input{
        width: 318px;
    }
    .register_button{
        width: 306px;
    }
    .moodle_button{
        width: 306px;
    }
}