*{ 
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(188deg,#fff 20%, #84CCF8 120%);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  .app-container {
    display: flex;
    flex-direction: column;

  }
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }